## FP-Growth Algorithm in MLxtend

**FP-Growth (Frequent Pattern Growth)** is a popular algorithm for mining frequent itemsets in large datasets, especially in the context of association rule mining. It is primarily used in market basket analysis, where the goal is to identify patterns of items that are frequently bought together.

The **FP-Growth (Frequent Pattern Growth)** algorithm is a popular method used in association rule mining to discover frequent itemsets in large datasets. It is an efficient algorithm that works by compressing the dataset into a **FP-tree** and then mining the frequent patterns from this tree structure.

In the context of **MLxtend** (Machine Learning Extensions), the **FP-Growth** algorithm is available for performing association rule mining. MLxtend is a powerful Python library that extends machine learning and data science capabilities, offering a variety of tools such as:

- Model stacking
- Feature selection
- Association rule mining (including FP-Growth)

### How FP-Growth Works:
1. **Constructing the FP-Tree**: The algorithm first constructs a compressed version of the dataset (FP-tree), which captures the frequent itemsets.
2. **Mining the Tree**: The frequent itemsets are mined from the FP-tree by recursively growing patterns.
3. **Extracting Frequent Patterns**: The frequent patterns can then be used to identify associations and relationships in the data.

### Using FP-Growth in MLxtend:
To implement **FP-Growth** in **MLxtend**, the library provides the `fpgrowth` function, which can be applied to datasets to identify frequent itemsets.

```python
from mlxtend.frequent_patterns import fpgrowth
frequent_itemsets = fpgrowth(df, min_support=0.1, use_colnames=True)

## Steps Involved in Coding

**Step 1: Install mlxtend**

The command **!pip install mlxtend** is used in Python to install the mlxtend library using pip (Pythonâ€™s package installer).

In [ ]:
!pip install mlxtend

Requirement already satisfied: mlxtend in /usr/local/lib/python3.11/dist-packages (0.23.3)
Requirement already satisfied: scipy>=1.2.1 in /usr/local/lib/python3.11/dist-packages (from mlxtend) (1.13.1)
Requirement already satisfied: numpy>=1.16.2 in /usr/local/lib/python3.11/dist-packages (from mlxtend) (1.26.4)
Requirement already satisfied: pandas>=0.24.2 in /usr/local/lib/python3.11/dist-packages (from mlxtend) (2.2.2)
Requirement already satisfied: scikit-learn>=1.3.1 in /usr/local/lib/python3.11/dist-packages (from mlxtend) (1.6.1)
Requirement already satisfied: matplotlib>=3.0.0 in /usr/local/lib/python3.11/dist-packages (from mlxtend) (3.10.0)
Requirement already satisfied: joblib>=0.13.2 in /usr/local/lib/python3.11/dist-packages (from mlxtend) (1.4.2)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib>=3.0.0->mlxtend) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.11/dist-packages (from matplotlib>=3.0.0->mlxtend) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.11/dist-packages (from matplotlib>=3.0.0->mlxtend) (4.55.5)
Requirement already satisfied: kiwisolver>=1.3.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib>=3.0.0->mlxtend) (1.4.8)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.11/dist-packages (from matplotlib>=3.0.0->mlxtend) (24.2)
Requirement already satisfied: pillow>=8 in /usr/local/lib/python3.11/dist-packages (from matplotlib>=3.0.0->mlxtend) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib>=3.0.0->mlxtend) (3.2.1)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.11/dist-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas>=0.24.2->mlxtend) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas>=0.24.2->mlxtend) (2025.1)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn>=1.3.1->mlxtend) (3.5.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.17.0)

Step 2 : Load the data Set

In [ ]:
dataset = [['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
           ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
           ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]

**Step 3 : Load require packages**

*   **import pandas as pd:** This imports the pandas library and gives it the alias pd, which is a widely used convention. Pandas is used for data manipulation and analysis, particularly with DataFrame structures (like tables).
*  **from mlxtend.preprocessing import TransactionEncoder:** This imports TransactionEncoder from the mlxtend library. The TransactionEncoder is typically used to convert lists of transactions (like sets of items) into a format that can be used for association rule mining algorithms such as the Apriori algorithm.

In [ ]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

**Step 4 : Transform the data**

*   **te = TransactionEncoder() :** This line creates an instance of the TransactionEncoder class. It will be used to convert your transaction data into a one-hot encoded format (where each item is represented by a binary column, indicating whether or not that item is present in a transaction).
*  **te_try = te.fit(dataset).transform(dataset):**




1.   **fit(dataset):** This method learns the dataset structure and identifies the unique items in the dataset. It's essentially "fitting" the encoder to the data, which means it analyzes the dataset to understand the transactions.

2.  **transform(dataset):** This method converts the dataset into a one-hot encoded format based on the learned structure from the **fit()** method. Each item will be represented as a column, and the rows will indicate whether or not each item is present in each transaction.

In [ ]:
te = TransactionEncoder()
te_try = te.fit(dataset).transform(dataset)

**Step 5 : Generate Dataframe**

convert the one-hot encoded data generated by the TransactionEncoder into a pandas DataFrame


*   **pd.DataFrame():** This creates a new **DataFrame** using the **pandas** library.

*   **te_try:** This is the data you obtained after transforming your original dataset using the **TransactionEncoder**  a NumPy array with boolean values (True/False), where each row represents a transaction, and each column represents an item.


*   **columns=te.columns_:** The **columns_ attribute** of **TransactionEncoder** contains the names of the items (columns) that the encoder identified. These are the unique items from your original dataset. This line assigns the column names of the DataFrame to match the items in the dataset.

In [ ]:
df = pd.DataFrame(te_try, columns=te.columns_)

In [ ]:
df

,Apple,Corn,Dill,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Onion,Unicorn,Yogurt
0,False,False,False,True,False,True,True,True,True,False,True
1,False,False,True,True,False,True,False,True,True,False,True
2,True,False,False,True,False,True,True,False,False,False,False
3,False,True,False,False,False,True,True,False,False,True,True
4,False,True,False,True,True,True,False,False,True,False,False

**Step 6 : Model Training**


*   importing the **apriori algorithm** from the **mlxtend.frequent_patterns module**. The **Apriori algorithm** is a widely used algorithm in association rule mining, often used to discover frequent itemsets in transactional data.

In [ ]:
from mlxtend.frequent_patterns import apriori



*   Applies the Apriori algorithm to the DataFrame df to find frequent itemsets based on a minimum support threshold of 0.5 (50%).

*   **df:** This is the one-hot encoded DataFrame that contains the transaction data (where each column represents an item, and each row represents a transaction).



*   **min_support=0.5:** This parameter sets the minimum support value. It means that the itemsets returned must appear in at least 50% of the transactions to be considered "frequent."

*   **Output :** The Apriori function returns a DataFrame with the frequent itemsets that meet the minimum support threshold.

In [ ]:
apriori(df,min_support=0.5)

    support   itemsets
0       0.8        (3)
1       1.0        (5)
2       0.6        (6)
3       0.6        (8)
4       0.6       (10)
5       0.8     (3, 5)
6       0.6     (8, 3)
7       0.6     (5, 6)
8       0.6     (8, 5)
9       0.6    (10, 5)
10      0.6  (8, 3, 5)

**Step 7 : Model Training with Column Result return**

This line of code uses the Apriori algorithm to find itemsets that occur together frequently in the dataset, considering only those that meet the specified minimum support of 50%. The result will show which items are frequently bought together, and it will use item names (from the dataset's columns) rather than numerical identifiers for readability.

In [ ]:
apriori(df,min_support=0.5, use_colnames=True)

    support                     itemsets
0       0.8                       (Eggs)
1       1.0               (Kidney Beans)
2       0.6                       (Milk)
3       0.6                      (Onion)
4       0.6                     (Yogurt)
5       0.8         (Kidney Beans, Eggs)
6       0.6                (Eggs, Onion)
7       0.6         (Kidney Beans, Milk)
8       0.6        (Kidney Beans, Onion)
9       0.6       (Yogurt, Kidney Beans)
10      0.6  (Kidney Beans, Eggs, Onion)

**Step 8 : Calculate the length of Itemset**


*   The **Apriori algorithm** is used to find frequent itemsets with a **minimum support of 60%**, meaning only itemsets that appear in at least 60% of all transactions will be included in the result.

*   A new column **'length'** is added to the **frequent_itemsets** DataFrame, indicating the size (number of items) of each frequent itemset.
*   The **frequent_itemsets** DataFrame now contains the frequent itemsets, their support, and the number of items in each itemset (via the **'length'** column).


*   The **apply(lambda x: len(x))** function calculates the length (i.e., the number of items) in each itemset and adds it as a new column 'length' in the DataFrame. This is useful to analyze the size of each frequent itemset (e.g., whether itâ€™s a single item, a pair of items, or a larger combination).








This approach helps to not only identify frequent itemsets but also analyze how large those itemsets are (e.g., single items, pairs, triplets, etc.).

In [ ]:
frequent_itemsets = apriori(df, min_support=0.6, use_colnames=True)
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))
frequent_itemsets

    support                     itemsets  length
0       0.8                       (Eggs)       1
1       1.0               (Kidney Beans)       1
2       0.6                       (Milk)       1
3       0.6                      (Onion)       1
4       0.6                     (Yogurt)       1
5       0.8         (Kidney Beans, Eggs)       2
6       0.6                (Eggs, Onion)       2
7       0.6         (Kidney Beans, Milk)       2
8       0.6        (Kidney Beans, Onion)       2
9       0.6       (Yogurt, Kidney Beans)       2
10      0.6  (Kidney Beans, Eggs, Onion)       3

 **Length is 2 and Support is > 0.8**

In [ ]:
frequent_itemsets[ (frequent_itemsets['length'] == 2) & (frequent_itemsets['support'] >= 0.8) ]

   support              itemsets  length
5      0.8  (Kidney Beans, Eggs)       2

In the code, we are attempting to filter the rows of a pandas DataFrame (frequent_itemsets) to identify the itemsets that exactly match the set {'Onion', 'Eggs'}. The frequent_itemsets DataFrame contains a column named 'itemsets' that holds sets of items. Our goal is to find the rows where the itemset is exactly equal to {'Onion', 'Eggs'} (i.e., no extra items or differences in the set).

In [ ]:
frequent_itemsets[ frequent_itemsets['itemsets'] == {'Onion', 'Eggs'} ]

   support       itemsets  length
6      0.6  (Eggs, Onion)       2



*   **One-Hot Encoding:** The line **oht_ary = te.fit(dataset).transform(dataset, sparse=True)** applies one-hot encoding to the dataset, converting it into a **sparse matrix** where each item in the transactions is represented as 1 (present) or 0 (absent).

*  **Sparse DataFrame:** The line **sparse_df = df.astype(pd.SparseDtype("float", fill_value=0))** converts the DataFrame df into a sparse format, storing only non-zero values and filling the missing entries with 0, which saves memory.

In [ ]:
oht_ary = te.fit(dataset).transform(dataset, sparse=True)
# Convert to a sparse DataFrame
sparse_df = df.astype(pd.SparseDtype("float", fill_value=0))
sparse_df

,Apple,Corn,Dill,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Onion,Unicorn,Yogurt
0,0,0,0,1.0,0,1.0,1.0,1.0,1.0,0,1.0
1,0,0,1.0,1.0,0,1.0,0,1.0,1.0,0,1.0
2,1.0,0,0,1.0,0,1.0,1.0,0,0,0,0
3,0,1.0,0,0,0,1.0,1.0,0,0,1.0,1.0
4,0,1.0,0,1.0,1.0,1.0,0,0,1.0,0,0

**Step 9: Verbose return the number of iteration and itemset default size**

The line of code applies the Apriori algorithm to the sparse dataset **(sparse_df)** to discover frequent itemsets with a **minimum support** of 60%. It returns those itemsets, showing the actual item names in the output, and prints progress information.

In [ ]:
apriori(sparse_df, min_support=0.6, use_colnames=True, verbose=1)

Processing 21 combinations | Sampling itemset size 3

C:\Users\losts\AppData\Roaming\Python\Python312\site-packages\mlxtend\frequent_patterns\fpcommon.py:161: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

    support                     itemsets
0       0.8                       (Eggs)
1       1.0               (Kidney Beans)
2       0.6                       (Milk)
3       0.6                      (Onion)
4       0.6                     (Yogurt)
5       0.8         (Kidney Beans, Eggs)
6       0.6                (Eggs, Onion)
7       0.6         (Kidney Beans, Milk)
8       0.6        (Kidney Beans, Onion)
9       0.6       (Yogurt, Kidney Beans)
10      0.6  (Kidney Beans, Eggs, Onion)

**Step 10 : Using Max_len set the itemset**

The line of code applies the **Apriori algorithm** to the sparse_df dataset, looking for frequent itemsets that meet the following criteria:

*   Appear in at least 60% of transactions (min_support=0.6).

*   Consist of up to 3 items (max_len=3).
*   The itemsets are displayed with actual item names (use_colnames=True).


*   Progress information is shown during execution (verbose=1).










This setup helps identify shorter, more frequent item combinations while reducing the size of the output by limiting the itemset length to 3.

In [ ]:
apriori(sparse_df, min_support=0.6, use_colnames=True, verbose=1, max_len=3)

Processing 21 combinations | Sampling itemset size 3

C:\Users\losts\AppData\Roaming\Python\Python312\site-packages\mlxtend\frequent_patterns\fpcommon.py:161: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

    support                     itemsets
0       0.8                       (Eggs)
1       1.0               (Kidney Beans)
2       0.6                       (Milk)
3       0.6                      (Onion)
4       0.6                     (Yogurt)
5       0.8         (Kidney Beans, Eggs)
6       0.6                (Eggs, Onion)
7       0.6         (Kidney Beans, Milk)
8       0.6        (Kidney Beans, Onion)
9       0.6       (Yogurt, Kidney Beans)
10      0.6  (Kidney Beans, Eggs, Onion)

**Conclusion**:

In this notebook, we applied the FP-Growth and Apriori algorithms using the MLxtend library for association rule mining. Here's a summary of the key steps and findings:

*   **FP-Growth Algorithm:** We explored how FP-Growth is an efficient method for mining frequent itemsets, particularly useful for market basket analysis. By transforming the data into a suitable format and leveraging the fpgrowth function, we were able to efficiently identify frequent itemsets in large datasets.

*  **Data Transformation:** The dataset was preprocessed using one-hot encoding through the TransactionEncoder, converting transactional data into a binary format where each item is represented by a column, and each transaction is a row. This prepared data for the application of frequent pattern mining algorithms.

*   **Frequent Itemsets Identification:** The Apriori algorithm was utilized to find frequent itemsets by specifying a minimum support threshold. The algorithm was successful in identifying itemsets that occurred frequently across transactions. The support values indicated which item combinations were popular within the dataset.


*   **Support and Length Analysis:** After running Apriori with varying support values (e.g., 0.5, 0.6), we analyzed itemsets based on their length and support, identifying pairs of items (such as 'Onion' and 'Eggs') that had a high co-occurrence.

*   **Sparse Data Optimization:** We also explored sparse matrices for storing the dataset, reducing memory usage when working with large transactional data. By using sparse formats, we ensured the model could scale efficiently.
*   **Advanced Configurations:** We experimented with the max_len parameter to limit the length of itemsets and optimize the model for finding frequent itemsets of a particular size (up to 3 items). This helped in fine-tuning the results to focus on relevant combinations.

In conclusion, the combination of FP-Growth and Apriori algorithms, along with one-hot encoding and sparse matrix representations, allowed for effective identification of frequent itemsets in the dataset, providing insights into common item co-occurrences. These techniques can be highly valuable for market basket analysis and recommendation systems.